.Alert.warning {
    background: red;
    width: 150px;
    height: 100px;
    margin: 10px auto;
}
.Alert.primary {
    background: blue;
    width: 150px;
    height: 100px;
    margin: 10px auto;
}
.Alert.danger {
    background: greenyellow;
    width: 150px;
    height: 100px;
    margin: 10px auto;
}
.Alert.success {
    background: lightgrey;
    width: 150px;
    height: 100px;
    margin: 10px auto;
}
